body {
  font-family: Arial,sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em 0
}

header a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px
}

.navbar {
  background-color: #333;
  overflow: hidden
}

.navbar a {
  float: left;
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none
}

.navbar a:hover {
  background-color: #ddd;
  color: #000
}

.navbar .icon {
  display: none
}

@media screen and (max-width:600px) {
  .navbar a:not(:first-child) {
    display: none
  }
  
  .navbar a.icon {
    float: right;
    display: block
  }
}
@media screen and (max-width:600px) {
  .navbar.responsive {
    position: relative
  }
  
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0
  }
  
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left
  }
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px
}

.bag-section {
  margin: 20px auto;
  max-width: 600px;
  border: 1px solid #ddd;
  text-align: left
}

.bag-section h3 {
  margin-bottom: 10px
}

.cart-item {
  border-bottom: 1px solid #ddd;
  padding: 10px 0
}

.cart-item p {
  margin: 5px 0
}

.summary-section {
  margin: 20px auto;
  max-width: 600px;
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left
}

.promo-code {
  margin-bottom: 10px
}

.promo-code button,
.promo-code input,
.promo-code label {
  display: block;
  margin-bottom: 5px
}

#order-summary-html {
  margin-top: 10px
}

#order-summary-html p {
  margin: 5px 0
}

a.checkout-link {
  display: block;
  margin-top: 20px;
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px
}

.contact-us {
  background-color: #333;
  border: 1px solid #fff;
  color: #fff;
  padding: 20px;
  margin: 10px;
  text-align: center
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em 0
}

footer a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px
}